# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*/target
out
gen
.attach_*
plugindoc.log
*.jar
!javafaker-for-test.jar
